
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projeto Final</title>

    <!--Bootstrap-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    <!--Jscript-->
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)

</head>
<body class="container">
    <div class="well well-sm"> 
        <h2>Agenda Virtual</h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            @RenderBody()
        </div>

    </div>
</body>
</html>
